.calendar {
    padding: 0;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: x-large;
}

.daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #3ca512 !important; 
    padding: 10px 0;
    color: white; 
}

.day:hover {
    background-color: #3ca512;
    color: white;
    font-weight: bold;
    width: 23px;
    height: 23px; 
    border-radius: 50px;
    margin-left: 8px;
}

.selected {
    background-color: #95cf7f;
    color: white;
    font-weight: bold;
    width: 23px;
    height: 23px; 
    border-radius: 50px;
    margin-left: 14%;
}

.emptyDay {
    background-color: transparent;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #f0f0f0; 
}

.calendar .body {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

.dayOfWeek {
    flex: 1; 
    text-align: center; 
}

.eventDay {
    color: #3ca512; 
    font-weight: bold;
}

.holiday {
    color: red;
    font-weight: bold;
}