.calendar {
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #3ca512 !important; 
    padding: 10px 0;
    color: white; 
    margin: 20px 0;
}
.day:hover {
    background-color: #3ca512;
    color: white;
}

.selected {
    background-color: #95cf7f;
    border-radius: 5px;
    color: black;
}

.emptyDay {
    background-color: transparent;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #f0f0f0; 
    padding: 10px 0;
}

.dayOfWeek {
    flex: 1; 
    text-align: center; 
}

.eventDay {
    color: #3ca512; 
    font-weight: bold;
}

.holiday {
    color: red;
    font-weight: bold;
}