.body {
    display: flex;
    justify-content: space-between;
}

.body-left,
.body-center,
.body-right {
    width: 30%; /* 각 섹션의 너비를 설정 */
    padding: 20px;
    border: 1px solid #ccc; /* 구분을 위한 테두리 */
}

h2 {
    text-align: center; /* 제목 중앙 정렬 */
}

.pagination {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
}