.Paging {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Paging button {
    margin: 0 5px;
    padding: 5px 10px;
}

.Paging button.active {
    font-weight: bold;
    text-decoration: underline; /* 활성화된 버튼에 밑줄 추가 */
}